<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="FormsMapsSample.Droid" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="FormsMapsSample.Droid">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBioNspkihj0AQNlN3PbkO7oFPzAkjpmDk" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	</application>
</manifest>